# for loop

In [7]:
# Program to find the sum of all numbers stored in list

number=[2,3,4,5,67,8,9,10]
sum=0
for val in number:
    sum=sum+val
    print(sum)

2
5
9
14
81
89
98
108

In [13]:
for i in range(5):
   print(i)

0
1
2
3
4

In [20]:
for i in range(2,100,2):
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [23]:
# Print first 10 numbers
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
# Write a program to print first 10 odd numbers.
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [27]:
# Write a program to print table of a number accepted from user.
n=int(input('Enter any number'))
for i in range(1,11):
    print(n*i)

Enter any number2
2
4
6
8
10
12
14
16
18
20

In [28]:
for i in "python":
       print(i, end=' ')

p y t h o n

In [31]:
for i in 'Akarsh':
 print(i,end='')

Akarsh

In [36]:
x="9335508178"
for i in x:
 print("My number")

My number
My number
My number
My number
My number
My number
My number
My number
My number
My number

In [45]:
x=5
for x in range(i):
    i+=1
    print(i)

257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512

In [ ]:
# Write program to print the following pattern.


1

1 2

1 2 3

1 2 3 4

In [71]:
for i in range(1,5):
    
    for j in range(1,i+1):
    
        print(j,end='')

    print()

1
12
123
1234

In [ ]:
# Write program to print the following pattern.

* * * *

* * *

* *

*

In [80]:
for i in range(4,0,-1):
    
    for j in range(i):
        
        print('*',end='')
        
    print()

****
***
**
*

In [94]:
 # Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.
    
for i in range(100,500):
            
     if i%11==0 and i%2!=0:
                
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [95]:
# Write a program to print numbers from 1 to 20 except multiple of 2 & 3.
for i in range(1,20):
    if i%2!=0 and i%3!=0:
        print(i)

1
5
7
11
13
17
19